@media only screen and (min-width: 32.5em){
    .navigation{
        flex-direction: row;
    }

    .ham{
        display: none;
    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}

	#five_day_forcast{
		display: block;
		align-items: center;
	}
	
    #weather_summary{
		bottom: 30em;
	}

	#cities {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 10px;
	}

	img {
        width: 200px;
		height: 150px;
		border-radius: 5px;
	}

	p, h1, h3{
        text-align: center;
	}
	#logo{
		width: 200px;
		height: 89px;
	}
	article{
        background-color: rgba(240, 240, 240, 0.199);
        margin: 15px;
        border-radius: 5px;
        border: solid black;
       
	}
	nav ul li.Home a {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
	  }
	  nav a:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.2);;
      }
	  
	
}