/* ----------------body--------------- */
body,
html,
header {
    margin: 0;
    padding: 0;
    background-color: #3EB489;
}

body {
    
    min-width: 300px;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}


h1 {
    text-align: center;
    font-family: 'Noto Sans JP';
}

h2 {
    text-align: center;
}

/* -------------------header--------------------- */
.picture-one {
    width: 20%;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    justify-content: center;

}

/* -----------------navigation------------- */
ul {
    list-style: none;
    background-color: #3EB489;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
}

a:hover,
a:active {
    background-color: rgba(0,0,0,0.2);
    color: white;
}


ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Lato';
    align-items: center;
}

.navigation li:first-child {
    display: block;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: block;
}

.responsive li {
    display: none;
}


/* --------------------main------------------ */
main {
    max-width: 1300px;
    margin: 0 auto;
    font-family: 'Lato';

}


/* ----------------footer------------- */
footer {
    background-color: #3EB489;
    
    font-family: 'Lato';
    padding: 1em;
    text-align: center;
}
#foot{
    background-color:rgba(0,0,0,0.2); 
}

/*---------------------------------------*/
#cities {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
}
p, h1, h3{
    text-align: center;
}
#logo{
    width: 200px;
    height: 89px;
}
article{
    background-color: rgba(240, 240, 240, 0.199);
    margin: 15px;
    border-radius: 5px;
    border: solid black;
    box-shadow: 0 0 10px 0 black;
}

