@media only screen and (min-width: 64em) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    section {
        text-align: center;
    }
    body {
font-size: 12pt;
}
img{
    width: 500px;
}
p{
    color: black;
}
} 
html {
    background-color: aquamarine;
}
