@media only screen and (min-width: 64em) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    section {
        text-align: center;
    }
    body {
font-size: 12pt;
}

p{
    color: gray;
}
} 
html {
    background-color: orange;
}
