@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro&display=swap');

#grid {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    text-align: center;
    max-width: 300px;

}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}
img {
    width: 200px;
}
