@media only screen and (min-width: 32.5em) {

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    body {
        font-size: 12pt;
    }

   

    p {
        color: black;
    }
}
article {
    border: 1px dotted green;
}

article {
    display: block;
}