@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro&display=swap');



nav{

    justify-content: center;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

ul{ 
    list-style: none;
    display: inline;
    text-align: center;

    display: flex;
}

ul li a {
    
    text-decoration: none;
    color: white;
    
    
}

nav {
    background-color: black;
    color: white;
    line-height: 1em;
    font-size: 1.1em;
    padding: 1em;
  
    border-radius: 10px 10px 10px 10px;
    border: solid #ccc;
    justify-content: center;
  }
  nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
    margin: 0;
  }
  nav a {
    padding: 1em; 
    text-decoration: none;
  }
  nav a:link,
  nav a:visited {
    color: white;
  }
  nav a:hover {
    color: white;
    background-color: green;
  }
html{
    background-color: green;
    color: white;
   
}
main {
    
    margin: 0 auto;
    background: black;
    padding: 0em;
  
    border-radius: 10px 10px 10px 10px;
    

    justify-content: center;
}


.title {
    margin: 3em;
    background: black;
    padding: 4em;
  
    border-radius: 5px 5px 5px 5px;
    text-align: center;

}

img{
    height: 4em;
    width: 7em;
    text-align: left;
}

.purpose{
    border-color: green;
    
}
footer {
    background-color: black;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    align-content: center;
    border: solid #ccc;
    justify-content: center;
    color: white;
    
}
.img2{

    text-align: center;
    
    
}