@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

header {
  text-align: center;
    background-color:white;
    color: gray;
    padding-left: 130px;
    padding-right: 50px;
    padding-top: 3px;
    
    border-radius: 20px;
}

  body {
    font-size: 16px;
    line-height: 32px;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
    
main {
  text-align: center;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

footer {
  text-align: center;
    background-color: orange;
    color: gray;
    border-radius: 20px;
    padding-left: 10px;
}

nav {
	background-color: black;
    text-align: center;
    border-radius: 20px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
    color: green;
}
nav a:hover {
	background-color: green;
    color:white;
    border-radius: 20px;
}



