
    nav li {width: 25%; float: left;}
    
    
    main figure {
        float: right; 
        width: 48%; 
        margin-left: $gutter;
        padding-bottom: .5rem;
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
    
