@media only screen and (min-width: 64em) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: black;
    }
}
